<div class="container px-5 px-sm-0">
  <div class="row">

    <div class="col-md-8 offset-md-1">
      <h2>Items</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>


        <tbody>
          <% @items.each do |item| %>
          <tr>
            <th>
                <%= link_to user_path(item.user.id) do %>
                <%= image_tag item.user.get_profile_image(100,100) %>
                <% end %>
            </th>
            <th><%= link_to item.name, item_path(item.id) %></th>
            <th><%= item.introduction %></th>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
